* {
    font-family: 'Luckiest Guy', cursive;
}

body {
    background: url(images/background.svg) no-repeat;
    background-size: cover;
    height: 100vh;
}
html {
    overflow: hidden;
    cursor: url("../Assets/bee.png") 14 14, pointer;
}

.container  {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 5em;
    margin-top: 20px;
}

.title {
    font-size: 7em;
    color: #fff;
    animation: slideAnimation 3s ease-in-out;
    margin-top: 2em;
}

.score {
    font-size: 25px;
    text-align: center;
    color: #fff;
    animation: slideAnimation 3s ease-in-out;
    margin-top: 5em;
}


.percent {
    font-size: 25px;
    text-align: center;
    color: #fff;
    animation: slideAnimation 3s ease-in-out;
    margin-bottom: 1em;
}

.time {
    font-size: 25px;
    text-align: center;
    color: #fff;
    animation: slideAnimation 3s ease-in-out;
    margin-top: 1em;
}

.streak {
    font-size: 25px;
    text-align: center;
    color: #fff;
    animation: slideAnimation 3s ease-in-out;
    margin-top: 1em;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 3px solid #fff;
    padding: 14px 70px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 15px;
    margin-left: 525px;
    transition: transform 0.5s;
    background-color: darkgreen;
    font-weight: 600;

}


.btn2 {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 3px solid #fff;
    padding: 14px 70px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    margin-top: -75px;
    margin-left: 740px;
    transition: transform 0.5s;
    background-color: #10590D;
    font-weight: 600;
}

@keyframes slideAnimation {
    0% { transform: translateX(0); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

.btn {
    animation: slideAnimation 3s ease-in-out;
}

.btn2 {
    animation: slideAnimation 3s ease-in-out;
}

.btn:hover {
    background: darkgreen;
    color: #fff;
    transform: scale(1.1);
}

.btn2:hover {
    background: darkgreen;
    color: #fff;
    transform: scale(1.1);
}

.main {
    position: fixed;
    margin-top: -100px;
    margin-left: 1250px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    transition: transform 0.5s;
    animation: slideAnimation 3s ease-in-out;
}


.main:hover {
    color: green;
    transform: scale(1.1);
}


#clickable-image {
    position: absolute;
    cursor: pointer; /* Change cursor to pointer when hovering over image */
    animation: scale 1s infinite alternate; /* Adjust animation duration and timing as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scale {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.flip-container {
  perspective: 1000px;
    position: relative;
    animation: slideIn 3s forwards;
}

@keyframes slideIn {
    from {
        left: 0; /* Initial position off the screen */
    }
    to {
        left: 650px; /* Final position at the beginning of the screen */
        bottom: 30px;
    }
}

.flipper {
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 50%; /* Make the faces round */
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.text-overlay {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
    border-radius: 50%;
}

.text-overlay p {
  text-align: center;
    padding: 5px;
}
