html{
    overflow:visible;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: #fff;
    height: 25%;
}

#saved-garden{
    padding: 1em;
    display: flex;
    justify-content: center;
    max-width: 75%;
}

img{
    width: 90%;
}

.score {
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    margin: 1em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: transform 0.5s;
    background-color: #10590D;
    font-weight: 600;
    min-width: 8em;
    min-height: 3em;
    padding: 1em;
    text-decoration: none;
    border-radius: 2em;
    font-size: 2em;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.btn:hover {
    background-color: #e7c116;
    color: black;
    outline: 0.1em solid black;
}

.option-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 2em;
    align-items: center;
    width: 100%;
}

#clickable-image {
    cursor: pointer;
    animation: scale 1s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medal-container {
    position: relative;
    animation: slideIn 1s forwards;
    min-width: 10em;
    min-height: 12em;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    cursor: url("../Assets/bee.png") 14 14, pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    perspective: 1000px;
}

.medal {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 100px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.rotating {
    animation: rotate 2s ease-in-out;
}

@keyframes scale {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.medal .front, .medal .back {
    position: absolute;
    backface-visibility: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}

.medal .back {
    background: #e7c116;
    color: black;
    font-size: .8rem;
    transform: rotateY(180deg);
    text-align: center;
    padding: 10px;
}

.correctMedal {
    display: none;
}

.timeMedal {
    display: none;
}

.streakMedal {
    display: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}


@keyframes slideIn {
    0% {
        left: -100em;
    }
    90% {
        left: 1em;
    }
    100% {
        left: 0;
    }
}