.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: #fff;
    animation: slideAnimation 3s ease-in-out;
    height: 25%;
}

.score {
    font-size: 1em;
    text-align: center;
    color: #fff;
    animation: slideAnimation 3s ease-in-out;
    margin-top: 2em;
}

.percent {
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    animation: slideAnimation 3s ease-in-out;
    margin-bottom: 1em;
}

.time {
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    animation: slideAnimation 3s ease-in-out;
    margin-top: 1em;
}

.streak {
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    animation: slideAnimation 3s ease-in-out;
    margin: 2em;
}

.btn, .btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: transform 0.5s;
    background-color: #10590D;
    font-weight: 600;
    min-width: 8em;
    min-height: 3em;
    padding: 1em;
    text-decoration: none;
    border-radius: 2em;
    font-size: 2em;
    animation: slideAnimation 2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.btn:hover, .btn2:hover {
    background: darkgreen;
    color: #fff;
    transform: scale(1.1);
}

.option-container{
    display:flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 2em;
    align-items: center;
    width: 100%;
}

#clickable-image {
    position: absolute;
    cursor: pointer; /* Change cursor to pointer when hovering over image */
    animation: scale 1s infinite alternate; /* Adjust animation duration and timing as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scale {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.flip-container {
  perspective: 1000px;
    position: relative;
    animation: slideIn 3s forwards;
}

@keyframes slideIn {
    from {
        left: 0; /* Initial position off the screen */
    }
    to {
        left: 650px; /* Final position at the beginning of the screen */
        bottom: 30px;
    }
}

.flipper {
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 50%; /* Make the faces round */
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.text-overlay {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.text-overlay p {
  text-align: center;
    padding: 5px;
}
