html{
    overflow:visible;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: #fff;
    height: 25%;
}

#saved-garden{
    padding: 1em;
    display: flex;
    justify-content: center;
    max-width: 75%;
}

img{
    width: 90%;
}

.score {
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    margin: 1em;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: transform 0.5s;
    background-color: #10590D;
    font-weight: 600;
    min-width: 8em;
    min-height: 3em;
    padding: 1em;
    text-decoration: none;
    border-radius: 2em;
    font-size: 2em;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.btn:hover{
    background-color: #e7c116;
    color: black;
    outline: 0.1em solid black;
}

.option-container{
    display:flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 2em;
    align-items: center;
    width: 100%;
}

#clickable-image {
    position: absolute;
    cursor: pointer;
    animation: scale 1s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scale {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.medal-container {
    position: relative;
    animation: slideIn 1s forwards;
    min-width: 10em;
    min-height: 10em;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    cursor: url("../Assets/bee.png") 14 14, pointer;
}

@keyframes slideIn {
    0% {
        left: -100em;
    }
    90% {
        left: 1em;
    }
    100%{
        left:0;
    }
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
    cursor: url("../Assets/bee.png") 14 14, pointer;
}

.back {
    transform: rotateY(180deg);
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding:1em;
}
