@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded&display=swap');

* {
    font-family: "Tsukimi Rounded", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 12px;
}

html{
    height: 100vh;
    width: 100%;
    background: green url("images/background.svg");
    background-size: cover;
    overflow: hidden;
    cursor: url("../Assets/bee.png") 14 14, pointer;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:98vh;
    overflow:hidden;
    cursor: url("../Assets/bee.png") 14 14, pointer;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

main#canvas-container{
    position:relative;
    height:100vh;
    width:100vw;
}

canvas{
    border-radius: 3em;
}

div#grid-container{
    width: 65%;
    height: 90%;
    border-radius: 3em;
    position: absolute;
    top: 5em;
    left:40em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-flex-container{
    background-image: url("../Assets/grid-background.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 90%;
    border-radius: 3em;
    position: absolute;
    top: 5em;
    left:40em;
    background-color: aqua;
}

div#img-grid{
    display:grid;
}

img[src=""] {
    visibility: hidden;
}

canvas#garden{
    z-index:-10;
    display: none;
}

div#tile-container{
    width: 25%;
    height: 90%;
    /*background-color: rgba(34, 139, 34, 0.75);*/
    border-radius: 3em;
    overflow: visible;
    background-image: url("../Assets/tile-background.png");
    background-size: cover;
    background-position: center;
}

.grid-canvas{
    position: absolute;
    top: 5em;
    left:40em;
}

.tile-canvas{
    position: absolute;
    top:5em;
    left:4em;
    width: 100%;
    height:100%;
}

footer{
    font-size: 1em;
    margin-top: auto;
    text-align: center;
    height: 2vh;
    color: white;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    display:flex;
    justify-content: center;
}

.fadeOut{
    animation: fadeOut 1s;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

