html{
    overflow-x: hidden;
}

.question-set-container{
    padding:2em;
    display:flex;
    justify-content: center;
}

.question-set-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.5em 0.5em;
    list-style-type: none;
}

.question-set-item {
    max-height: 9em;
    max-width: 18em;
    text-align: center;
    background-color: #10590D;
    font-size: 1.5em;
    color:white;
    border-radius: 2em;
    padding:1em;
}

.question-set-item:hover{
    color:black;
    background-color: #e7c116;
    transition: background-color 0.5s;
}

.clicked{
    color:black;
    background-color: #e7c116;
    outline: 0.1em solid black;
}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2em;
}

ul.grid-list {
    list-style-type: none;
    display:flex;
    justify-content: center;
    column-gap: 5em;
    align-items: center;
}

li.grid-item{
    min-height:8em;
    min-width:8em;
    max-height:15em;
    max-width:15em;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0.2em solid black;
    border-radius: 2em;
}

li#grid3{
    background-image: url("images/myCanvas-3.png");
    background-size: cover;
}

li#grid4{
    background-image: url("images/myCanvas-4.png");
    background-size: cover;
}

li#grid5{
    background-image: url("images/myCanvas-5.png");
    background-size: cover;
}

li button.grid-button{
    opacity: 0;
    min-height:15em;
    min-width:15em;
    color:white;
}

li button:hover {
    opacity:0.9;
    transition: opacity 0.5s, transform 0.5s;
    background-color: #e7c116;
    color:black;
    transform: scale(1.2);
    cursor: url("../Assets/bee.png") 14 14, pointer;
    border-radius: 2em;
    border:1em solid black;
}

.text{
    font-size: 3em;
}
