* {
    font-size: 12px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    width: 100%;
    background: green url("images/background.svg");
    background-size: cover;
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:98vh;
    overflow:hidden;
    cursor: url("../Assets/bee.png"), pointer;
}

main#canvas-container{
    position:relative;
    height:100vh;
    width:100vw;
}

canvas{
    border-radius: 3em;
}

div#grid-container{
    background-image: url("../Assets/grid-background.png");
    background-size: cover;
    background-position: center;
    /*background-color: rgba(34, 139, 34, 0.75);*/
    width: 65%;
    height: 90%;
    border-radius: 3em;
    position: absolute;
    top: 5em;
    left:40em;
}

div#tile-container{
    width: 25%;
    height: 90%;
    /*background-color: rgba(34, 139, 34, 0.75);*/
    border-radius: 3em;
    overflow: visible;
    background-image: url("../Assets/tile-background.png");
    background-size: cover;
    background-position: center;
}

.grid-canvas{
    position: absolute;
    top: 5em;
    left:40em;
}

.tile-canvas{
    position: absolute;
    top:5em;
    left:4em;
    width: 100%;
    height:100%;
}

p{
    font-size: 3rem;
    color: darkgreen;
    text-align: center;
}

footer{
    font-size: 1em;
    margin-top: auto;
    text-align: center;
    height: 2vh;
    color: white;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    display:flex;
    justify-content: center;
}

