* {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100%;
    background:green url("images/background.svg") no-repeat center fixed;
    background-size: cover;
    overflow: hidden;
    cursor: url("../Assets/bee.png") 14 14, pointer;
}

/* Custom div classes */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* This is from start-page.css, maybe inhert down? */

.item-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-center .text {
    color: white;
    font-weight: 400;
    font-size: 2em;
}

h1 {
    width: 70vw;
    text-align: center;
    margin-left: 4em;
    position: relative;
    top: 1vh;
    color: white;
    object-position: center;
    text-shadow: 1px 1px black;
    font-size: 3em;
    margin-bottom:5em;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding: 2em;
}

li button {
    background-color: green;
    transition: .5s;
    color: white;
    border-radius: 10px;
}

li button:hover {
    background-color: greenyellow;
    transform: scale(1.2);
    backdrop-filter: blur(3px);
    color: black;
    cursor: url("../Assets/bee.png") 14 14, pointer;
}

ul .question-sets{
    position: absolute;
    top: 10em;
    right: 5em;
    color: black;
    font-size: 3em;
}

/* -------- QUESTION_SET CSS ---------- */

.questionSets {
    color: white;
    margin-bottom: -4vh;
    margin-top: -4vh;
}

.listOfSets {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin-top: -8em;
    font-size: 2em;
}

#sets {
    padding: 2vh;
    border-radius: 10px;
    font-size: large;
    font-weight: 700;
}

#mute_play {
    position: fixed;
    top: 4rem;
    right: 2rem;
    border-radius: 10px;
    border-color: black;
    padding: 5px;
    outline: none;
    background: #0a5e0a;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    transition: 0.5s;
}

#mute_play:hover {
    background: green;
    cursor: pointer;
}

.logoutButton {
    position: fixed;
    top: 2rem;
    right: 2rem;
    border-radius: 10px;
    border-color: black;
    padding: 5px;
    outline: none;
    background: #0a5e0a;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    transition: 0.5s;
}

.logoutButton:hover {
    background: green;
    cursor: pointer;
}







