* {
    font-family: 'Arial', sans-serif;
}

/* Custom div classes */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* This is from LoginStartPage.css, maybe inhert down? */
.logoutButton {
    position: fixed;
    top: 3rem;
    right: 3rem;
}

.logoutButton:hover {
    border-color: #006b1b;
    border-radius: .5em;
    background-color: #fff;
    cursor: pointer;
}

.item-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-center .text {
    color: white;
    font-weight: 400;
    font-size: 2em;
}

html {
    background: url("images/background.svg") no-repeat center center fixed;
    background-size: cover;
}

h1 {
    position: relative;
    top: 1vh;
    color: white;
    text-align: center;
    object-position: center;
    text-shadow: 1px 1px black;
    font-size: 4em;
    margin-bottom:5em;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding: 2em;
}

li button {
    background-color: green;
    transition: .5s;
}

li button:hover {
    cursor: pointer;
    background-color: greenyellow;
    transform: scale(1.2);
    backdrop-filter: blur(3px);
}

ul .question-sets{
    position: absolute;
    top: 10em;
    right: 5em;
    color: black;
    font-size: 3em;
}

/* -------- QUESTION_SET CSS ---------- */

.questionSets {
    color: white;
    margin-bottom: -4vh;
    margin-top: -4vh;
}

.listOfSets {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: -8em;
    font-size: 2em;
}

.sets {
    padding: 2vh;
    border-radius: 10px;
    font-size: large;
    font-weight: 700;
    color: black;
}






