* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*background-image: url("images/background.svg");*/
}

.teacherButton {
    position: fixed;
    top: 3em;
    right: 3em;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
    outline: none;
    background: #0a5e0a;
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 500;
    transition: 0.5s;
}

#mute_play {
    position: fixed;
    top: 6em;
    right: 3em;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
    outline: none;
    background: #0a5e0a;
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 500;
    transition: 0.5s;
}

#mute_play:hover {
    background: green;
    cursor: pointer;
}
.teacherButton:hover {
    background: green;
    cursor: pointer;
}

.title {
    color: #0a5e0a;
    font-size: 5em;
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

html {
    background: green url("images/background.svg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow:hidden;
}

.container  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.login {
    padding: 4em;
    border: 1px solid #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    background-color: rgba(192, 231, 202, 0.75);
}

.container h1, h2 {
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    color: black;
    margin-bottom: 1em;
}

.login h1 {
    font-size: 5em;
    color: #0a5e0a;
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.login .inputBox {
    color: black;
    font-size: 1em;
}

.login .inputBox {
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.5em;
    color:white;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
}

label {
    color: black;
    font-weight: 700;
}

.login .inputBox #btn {
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.25em;
    color:black;
    border-radius: 5px;
    background: white;
    border: none;
    margin-bottom: 30px;
}

.login .inputBox ::placeholder {
    color: black;
}

.login .inputBox #btn {
    border: none;
    outline: none;
    background: #0a5e0a;
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 500;
    transition: 0.5s;
}

.login .inputBox #btn:hover {
    background: green;
    cursor: pointer;
}

.twinkling-pixel {
    width: 1px;
    height: 1px;
    background-color: #FFF; /* White color */
    position: absolute;
    opacity: 0; /* Initially invisible */
    animation: twinkling 1s infinite alternate; /* Animation definition */
  }

  /* Define the animation */
  @keyframes twinkling {
    0% {
      opacity: 0; /* Fade in */
    }
    100% {
      opacity: 1; /* Fade out */
    }
  }




