/* Default of the page */
* {
    font-size: 12px;
    font-family: 'Arial', sans-serif;
}

/* H1-H7 and p */
h1 {
    font-size: 7rem;
    color: brown;
}

h2 {
    font-size: 4rem;
    color: white;
}

.start {
    font-size: 2em;
    font-weight: 700;
}

/* Custom body */
.loginPageBackground {
    background-image: url(images/LoginPageArt.png);
    background-size: cover;
}

.StartPageBackground {
    background-image: url(images/background.svg);
    background-size: cover;
}

/* Custom div classes */
.center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Custom form classes */
.loginInformation {
    background-color: darkolivegreen;
    padding: 4rem;
    border-radius: 1rem;
    margin-outside: 2rem;
    color: white;
    margin-left: 500px;
    margin-right: 500px;
    margin-top : 175px;
}

.loginInformation h2 {
    color: white;
}

/* Custom button classes */
.startButton {
    /* background-color: transparent; */
    color: brown;
    border-color: dimgrey;
    font-size: 3rem;
    padding: 3rem 5rem;
    border-radius: 1rem;
    margin-bottom: 6em;
    backdrop-filter: blur(10px);
    background-color: rgb(27, 27, 27, 0.3);
}

.startButton:hover {
    color: lightgrey;
    border-color: grey;
    font-size: 3rem;
    padding: 3rem 5rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    background-color: rgb(27, 27, 27, 0.3);
}

#mute_play {
    position: fixed;
    top: 5rem;
    right: 2rem;
    border-radius: 10px;
    border-color: black;
    padding: 5px;
    outline: none;
    background: #0a5e0a;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    transition: 0.5s;
}

#mute_play:hover {
    background: green;
    cursor: pointer;
}

.logoutButton {
    position: fixed;
    top: 2rem;
    right: 2rem;
    border-radius: 10px;
    border-color: black;
    padding: 5px;
    outline: none;
    background: #0a5e0a;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    transition: 0.5s;
}

.logoutButton:hover {
    background: green;
    cursor: pointer;
}