/* Default of the page */
* {
    font-size: 12px;
    font-family: 'Arial', sans-serif;
}

/* H1-H7 and p */
h1 {
    font-size: 7rem;
    color: brown;
}

h2 {
    font-size: 4rem;
    color: brown;
}

/* Custom body */
.loginPageBackground {
    background-image: url(images/LoginPageArt.png);
    background-size: cover;
}

.StartPageBackground {
    background-image: url(images/background.svg);
    background-size: cover;
}

/* Custom div classes */
.center {
    text-align: center;
}

/* Custom form classes */
.loginInformation {
    background-color: darkolivegreen;
    padding: 4rem;
    border-radius: 1rem;
    margin-outside: 2rem;
    color: white;
    margin-left: 500px;
    margin-right: 500px;
    margin-top : 175px;
}

.loginInformation h2 {
    color: white;
}


/* Custom button classes */
.startButton {
    background-color: transparent;
    color: white;
    border-color: dimgrey;
    font-size: 3rem;
    padding: 3rem 5rem;
    border-radius: 1rem;
}

.startButton:hover {
    background-color: transparent;
    color: lightgrey;
    border-color: grey;
    font-size: 3rem;
    padding: 3rem 5rem;
    border-radius: 1rem;
}

.logoutButton {
    position: fixed;
    top: 3rem;
    right: 3rem;
}