@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded&display=swap');

* {
    font-family: "Tsukimi Rounded", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    height: 100vh;
    width: 100%;
    background:green url("images/background.svg") no-repeat center fixed;
    background-size: cover;
    cursor: url("../Assets/bee.png") 14 14, pointer;
    overflow-x: hidden;
}

body{
    display:flex;
    justify-content: center;
    max-width: 65%;
    min-width: 50%;
    min-height:100%;
    margin:auto;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

h1 {
    color: white;
    font-size: 3em;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height:100%;
    padding:4em;
    backdrop-filter: blur(10px);
    background-color: rgb(27, 27, 27, 0.3);
}
