main{
    row-gap: 1em;
}

main h1{
    font-size:6em;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

li {
    float:left;
    text-align:center;
    padding: .2em;
    flex: 1;
    position: relative;
    height: 170px;
    width: 170px;
}

li img {
    position: absolute;
    width: 150px;
    height: 150px;
}

li img#first {
    left: 0;
    z-index: 2;
}

li img#second {
    left: 20px;
    z-index: 1;
}

li img#third {
    left: 40px;
    z-index: 0;
}

li p {
    padding: 0.5em;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    z-index: 4;
    color: black;
    background: #e7c116;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    min-width: 75px;
    min-height: 75px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.block {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
    min-width: 100%;
    border-radius: 10px;
    font-size: 1.5em;
    color:white;
    padding:1em;
}

#stats-container{
    display:grid;
    grid-template-columns: 60% 40%;
    column-gap: 2em;
}