body{
    overflow: visible;
}

main{
    row-gap: 1em;
}

main h1{
    font-size:6em;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

li {
    float:left;
    text-align:center;
    padding:.2em;
}

.block {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
    min-width: 100%;
    border-radius: 10px;
    font-size: 1.5em;
    color:white;
    padding:1em;
}

#stats-container{
    display:grid;
    grid-template-columns: 60% 40%;
    column-gap: 2em;
}


