html{
    overflow: hidden;
}

h1 {
    font-size: 4em;
    color:white;
    margin-bottom:1em;
}

main{
    row-gap: 2em;
}

.startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10590D;
    color: white;
    border-color: dimgrey;
    font-size: 3em;
    padding: 1em;
    border-radius: 2em;
    cursor: url("../Assets/bee.png") 14 14, pointer;
    min-width: 8em;
    min-height:2em;
    transition: background-color 0.5s;
}

#profile{
    padding: 0.75em;
}

.startButton:hover {
    color: black;
    outline: 0.05em solid black;
    background-color: #e7c116;
}
