* {
    font-family: 'Luckiest Guy', cursive;
}

body {
    background: url(images/garden.svg.jpeg);
    background-size: cover;
    height: 100vh;
}

.container  {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 5em;
    margin-top: 20px;
}

.title {
    font-size: 70px;
    color: darkolivegreen;
}

.title {
    animation: slideAnimation 3s ease-in-out;
}

.score {
    font-size: 25px;
    text-align: center;
    color: darkolivegreen;
}

.score {
    animation: slideAnimation 3s ease-in-out;
}

.percent {
    font-size: 25px;
    text-align: center;
    color: darkolivegreen;
}

.percent {
    animation: slideAnimation 3s ease-in-out;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid darkolivegreen;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: darkolivegreen;
    transition: 0.5s;
    margin-bottom: 20px;
    margin-left: 525px;
    transition: transform 0.5s;

}


.btn2 {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid darkolivegreen;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: darkolivegreen;
    transition: 0.5s;
    margin-top: -75px;
    margin-left: 740px;
    transition: transform 0.5s;
}

@keyframes slideAnimation {
    0% { transform: translateX(0); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

.btn {
    animation: slideAnimation 3s ease-in-out;
}

.btn2 {
    animation: slideAnimation 3s ease-in-out;
}

.btn:hover {
    background: darkolivegreen;
    color: #fff;
    transform: scale(1.1);
}

.btn2:hover {
    background: darkolivegreen;
    color: #fff;
    transform: scale(1.1);
}

.main {
    position: fixed;
    margin-top: -100px;
    margin-left: 1250px;
    color: black;
    font-size: 30px;
    text-decoration: none;
    transition: transform 0.5s;
}

.main {
    animation: slideAnimation 3s ease-in-out;
}

.main:hover {
    color: darkolivegreen;
    transform: scale(1.1);
}








