{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Level Complete</title>
    <link rel="stylesheet" href="{% static 'ZenSpelling/complete-style.css' %}">
    <script src={% static 'ZenSpelling/js/complete.js' %}></script>
</head>
<body>

<div class="container">
    <h1 class="title"> Level Complete</h1>
</div>

<a href="/start/" class="main"> Main Menu </a>

<div class="box">
    <div class="score">
        <h3>Score: <span id="scoreDisplay"></span></h3> <!-- is there a better way to do this-->
    </div>

    <div class="percent">
        <h3> Percentage: <span id="percentDisplay"></span> %</h3>
    </div>
    
    <div class="time">
        <h3> Start Time: <span id="startTimeDisplay"></span> <br> Finish Time: <span id="finishTimeDisplay"></span></h3>
    </div>
    
    <div class="streak">
        <h3> Highest Streak: <span id="streakDisplay"></span></h3>
    </div>

    <a href="/setup/" class="btn">Restart</a>
    <a href="#" class="btn2">Continue</a> <!-- will go to level select or something like that -->
</div>

<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>

<script src="{% static 'ZenSpelling/js/interact.js' %}"></script>


</body>
</html>