{% load static %}
{#<form action="{% url 'ZenSpelling:vote' question.id %}" method="post">#} 
<link rel="stylesheet" href="{% static 'ZenSpelling/modalStyle.css' %}">

<form class="modal-main" action="{% url 'ZenSpelling:complete' %}" method="get"> <!-- must change to only submit when the i == gameboardSize -->
{% csrf_token %}
<div class="modal-container">
    <h1 class="question">{{ question.question_text }}</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for answer in question.answer_set.all %}
        <input class="choice" type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}">
        <label class="option" for="answer{{ forloop.counter }}">{{ answer.answer_text }}</label><br>
    {% endfor %}
</div>
<div class="submit-container">
    <input class="choice" id="subinput" type="submit" value="Let's Spell!" name="sub" >
    <label class="sub" for="subinput">Let's Spell!</label>
</div>
</form>


