{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Set Up Student</title>
    <script src={% static 'ZenSpelling/js/GameSetUp.js' %}></script>
    <link rel="stylesheet" href="{% static 'ZenSpelling/GameSetUp.css' %}">
</head>
<body>
<button class="logoutButton" onclick="logout()">Log Out</button>
    <div class="center">
        <h1>Choose your Game Board Size</h1>
        <br>
        <div class="item-center">
            <ul>
                <li><button onclick="playGame()"><img alt="grid" src={% static 'ZenSpelling/images/grid.png' %}/></button></li>
                <li><button onclick="playGame()"><img alt="grid" src={% static 'ZenSpelling/images/grid.png' %}/></button></li>
                <li><button onclick="playGame()"><img alt="grid" src={% static 'ZenSpelling/images/grid.png' %}/></button></li>
            </ul>
        </div>
    </div>
</body>
</html>