{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Game!</title>
    <link rel="stylesheet" href="{% static 'ZenSpelling/gamePageStyle.css' %}">
    <script src={% static 'Resources/p5.min.js' %}></script>
    <script src={% static 'ZenSpelling/js/gamePageSketches.js'%}></script>
  </head>
  <body>
    <main id="canvas-container">
        <div class="grid-canvas" id="grid-container"></div> <!-- Container div for main board. -->
        <div class="tile-canvas" id="tile-container"></div> <!-- Container div for tile sideboard -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p id="modal-content"></p>
            </div>
        </div>
    </main>
    <footer>Team Jasper 2024</footer>
  </body>
</html>