{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Set Up Student</title>
    <script src={% static 'ZenSpelling/js/GameSetUp.js' %}></script>
    <link rel="stylesheet" href="{% static 'ZenSpelling/GameSetUp.css' %}">
</head>
<body>
<button class="logoutButton" onclick="logout()">Log Out</button>
    <div class="center">
        <h1>Choose Board Size and Question Set</h1>
        <br>
            <ul class = "listOfSets">
            {% for question_set in question_sets %}
                <li class = "questionSets">
                <button class = "sets">
                    {{ question_set.name }}
                </button>
                </li>
            {% endfor %}
            </ul>
        <div class="item-center">
            <ul>
                <li> <div class = "text"> 3x3</div> <button onclick="playGame()"><img alt="3x3grid" height = 250em width = 250em src={% static 'ZenSpelling/images/myCanvas-3.png' %}/></button></li>
                <li> <div class = "text"> 4x4</div> <button onclick="playGame()"><img alt="4x4grid" height = 250em width = 250em src={% static 'ZenSpelling/images/myCanvas-4.png' %}/></button></li>
                <li> <div class = "text"> 5x5</div> <button onclick="playGame()"><img alt="5x5grid" height = 250em width = 250em src={% static 'ZenSpelling/images/myCanvas-5.png' %}/></button></li>
            </ul>
        </div>
    </div>
</body>
</html>