{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Game!</title>
    <link rel="stylesheet" href="{% static 'ZenSpelling/game-page-style.css' %}">
    <link rel="stylesheet" href="{% static 'ZenSpelling/twinkle.css' %}">
    <link rel="stylesheet" href="{% static 'ZenSpelling/modal-style.css' %}">
    <script src={% static 'Resources/p5.min.js' %}></script>
    <script src={% static 'ZenSpelling/js/gamePage.js' %}></script>
    <script src={% static 'ZenSpelling/js/twinkle.js' %} defer></script>
    <script src={% static 'ZenSpelling/js/question.js' %}></script>
    <script src={% static 'Resources/jquery3.7.1.js' %}></script> 
  </head>
  <body>
    <div id="loading-screen">Loading...</div>
    <main id="canvas-container">
        <div class="grid-canvas" id="grid-container"></div> <!-- Container div for main board. -->
        <div class="tile-canvas" id="tile-container"></div> <!-- Container div for tile sideboard -->
        <div id="myModal" class="modal"></div>
        
        <audio id="calm" src={% static 'Resources/Music/calm.mp3' %}></audio>
        <audio id="click-sound" src={% static 'Resources/SoundEffects/clickSound.mp3' %}></audio>
        <audio id="release-sound" src={% static 'Resources/SoundEffects/releaseSound.mp3' %}></audio>
        <audio id="correct-sound" src={% static 'Resources/SoundEffects/correct.mp3' %}></audio>
        <audio id="wrong-sound" src={% static 'Resources/SoundEffects/wrong.mp3' %}></audio>
        
{#        TODO : This is my attempt at implementing hover sounds. Defer to R3.#}
{#        <audio id="a4" src={% static 'Resources/HoverNotes/a4.wav' %}></audio>#}
{#        <audio id="b4" src={% static 'Resources/HoverNotes/b4.wav' %}></audio>#}
{#        <audio id="c3" src={% static 'Resources/HoverNotes/c3.wav' %}></audio>#}
{#        <audio id="d3" src={% static 'Resources/HoverNotes/d3.wav' %}></audio>#}
{#        <audio id="e3" src={% static 'Resources/HoverNotes/e3.wav' %}></audio>#}
{#        <audio id="g3" src={% static 'Resources/HoverNotes/g3.wav' %}></audio>#}
    </main>
    <div id="twinkling-container">
        <div class = "twinkling-pixel"> </div>
    </div>
    <footer>Team Jasper 2024</footer>
  
  <script>
        // Function to check if the music should be playing
        function checkMusic() {
            let musicPlaying = sessionStorage.getItem('musicPlaying');
            if (musicPlaying === 'true') {
                // Your code to resume playing the music
                // For demonstration purposes, let's just log a message
            }
        }
  window.onload = checkMusic;
  </script>
  </body>
</html>