<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Game!</title>
    <link rel="stylesheet" href="../../static/ZenSpelling/gamePageStyle.css">
    <script src="../../Resources/p5.min.js"></script>
    <script src="js/gamePageSketches.js"></script>
  </head>
  <body>
    <main id="canvas-container">
        <div class="sketch-canvas2" id="grid-container"></div> <!-- Container div for main board. -->
        <div class="sketch-canvas" id="tile-container"></div> <!-- Container div for tile sideboard -->
    </main>
    <footer>Team Jasper 2024</footer>
  </body>
</html>