{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Set Up Student</title>
    <script src={% static 'ZenSpelling/js/GameSetUp.js' %}></script>
    <link rel="stylesheet" href="{% static 'ZenSpelling/GameSetUp.css' %}">
</head>
<body>
<button class="logoutButton" onclick="logout()">Log Out</button>
    <div class="center">
        <h1>Choose your Game Board Size</h1>
        <br>
        <div class="item-center">
            <ul>
                <li><button onclick="playGame(3)"><img alt="3x3grid" height = 220em width = 220em src={% static 'ZenSpelling/images/threebythree.png' %}/></button></li>
                <li><button onclick="playGame(4)"><img alt="4x4grid" height = 250em width = 250em src={% static 'ZenSpelling/images/fourbyfour.png' %}/></button></li>
                <li><button onclick="playGame(5)"><img alt="5x5grid" height = 275em width = 275em src={% static 'ZenSpelling/images/fivebyfive.png' %}/></button></li>
            </ul>
        </div>
    </div>
</body>
</html>