<!DOCTYPE html>
<html lang="en">
<body>
    <div class = "title">
        <h1> Questions Added </h1>
    </div>
    <div class = "questions">
{% load static %}

        <link rel="stylesheet" href="{% static 'ZenSpelling/styleZen.css' %}">

        {% if hardest_question_list %}
        <ul>
                {% for question in hardest_question_list %}
                <li><a href="{% url 'ZenSpelling:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
        </ul>
        {% else %}
         <p>No polls are available.</p>
        {% endif %}
    </div>
</body>
</html>