{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script src={% static 'ZenSpelling/js/LoginPage.js' %}></script>
    <link rel="stylesheet" href="{% static 'ZenSpelling/LoginStartPage.css' %}">
</head>
<body class="loginPageBackground">
    <div class="center">
        <h1>Zen Spelling</h1>
        <form method="post" class="loginInformation"> {% csrf_token %}
            <h2>Log in</h2>
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
            <br>
            <br>
            <label for="{{ form.password.id_for_label }}">Password:</label>
            {{ form.password }}
            <br>
            <input class="loginButton" type="submit" onclick="login()" value="Login">
        </form>
    </div>
</body>
</html>