{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script src={% static 'ZenSpelling/js/LoginPage.js' %}></script>
    <script src={% static 'ZenSpelling/js/twinkle.js' %} defer></script>
    <link rel="stylesheet" href="{% static 'ZenSpelling/login-style.css' %}">
    <link rel="stylesheet" href="{% static 'ZenSpelling/twinkle.css' %}">
</head>
<body>
    <button class="teacherButton" onclick="teacherPortal()">Teacher Portal</button>
    <button id="mute_play"> Turn Music ON </button>
    <div class = "container">
        <form method="post" class="login"> {% csrf_token %}
            <h1>Zen Spelling</h1>
            <h2>Sign In</h2>
            <div class = "inputBox">
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
            </div>
            <div class = "inputBox">
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password }}
            </div>
            <div class = "inputBox">
                <input type = "submit" onclick=login() value = "Login" id = "btn">
                <!-- <button class="btn" type="submit" onclick = login()>Log In</button> -->
            </div>
        </form>
    </div>
    
    <div id="twinkling-container">
        <div class = "twinkling-pixel"> </div>
    </div>

    <audio id = "background-music" loop>
        <source src="{% static 'Resources/Music/calm.mp3' %}" type="audio/mp3">
        No browser support
    </audio>
</body>
</html>