{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script src={% static 'ZenSpelling/js/LoginPage.js' %}></script>
    <link rel="stylesheet" href="{% static 'ZenSpelling/loginStyle.css' %}">
</head>
<body>
    <button class="teacherButton" onclick="teacherPortal()">Teacher Portal</button>
    <div class = "container">
        <form method="post" class="login"> {% csrf_token %}
            <h1>Zen Spelling</h1>
            <h2>Sign In</h2>
            <div class = "inputBox">
                 <label for="{{ form.username.id_for_label }}">Username:</label> 
                {{ form.username }}
                 <!-- <input id='username' type="text" placeholder="Username"> -->
            </div>
            <div class = "inputBox">
                 <label for="{{ form.password.id_for_label }}">Password:</label> 
                {{ form.password }}
               <!--  <input id = 'password' type = "text" placeholder = "Password"> -->
            </div>
            <div class = "inputBox">
                <input type = "submit" onclick=login() value = "Login" id = "btn">
                <!-- <button class="btn" type="submit" onclick = login()>Log In</button> -->
            </div>
        </form>
    </div>
    <audio controls>
    <source src="{{ MEDIA_URL }}Music/bgMusic.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
</body>
</html>