{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ student.user.username }}</title>
    <link rel="stylesheet" href="{% static 'ZenSpelling/profile-style.css' %}">
    <script src={% static 'ZenSpelling/js/profile.js' %}></script> 
    <script src={% static 'Resources/p5.min.js' %}></script>
    <script src={% static 'Resources/jquery3.7.1.js' %}></script> 
  </head>
  <body>
    <button class="logoutButton" onclick="logout()">Log Out</button>
    <button class="playButton" onclick="startGame()">Play a Game</button>
    <div class = "center">
        <h1>{{ student.user.username }}</h1>
        <div class = "block">
            <h2>Stats</h2>
            <h4>Number of games completed: {{ student.games_completed }}</h4>
            <h4 id="timeSpent">Amount of time spent playing games: {{ student.time_spent }} seconds</h4>
            <br>
            <h4>Number of correct answers: {{ student.questions_correct }}</h4>
            <h4>Highest streak: {{ student.streak }} questions in a row</h4>
            <h4 id="fastestGame">Fastest game: {{ student.min_time }} seconds</h4>
        </div>
        <div class = "block">
            <h2>Medals</h2>
            <ul>
                <li>{{ medals.time_medal }}</li>
                <li>{{ medals.percent_medal }}</li>
                <li>{{ medals.streak_medal }}</li>
            </ul>
        </div>
        <div class = "block">
            <h2>Saved Gardens</h2>
        </div>
    </div>
  </body>
</html>