{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ student.user.username }}</title>
    <link rel="stylesheet" href="{% static 'ZenSpelling/page-standard-style.css' %}">
    <link rel="stylesheet" href="{% static 'ZenSpelling/nav-style.css' %}">
    <link rel="stylesheet" href="{% static 'ZenSpelling/profile-style.css' %}">
    <link rel="stylesheet" href="{% static 'ZenSpelling/twinkle.css' %}">
    
    <script src={% static 'ZenSpelling/js/musicAndSoundUtil.js' %}></script>
    <script src={% static 'ZenSpelling/js/navUtil.js' %}></script>
    <script src={% static 'ZenSpelling/js/twinkle.js' %} defer></script>
    <script src={% static 'ZenSpelling/js/profile.js' %}></script> 
    <script src={% static 'Resources/jquery3.7.1.js' %}></script> 
  </head>
  <body>
     <header>
        <div class="nav-container" id="left">
            <div id="mute_play" onclick="toggleMusic()"> Turn Music ON </div>
            <a class="play-again" onclick="playAgain(this)">Play Again</a>
        </div>
        <div class="nav-container" id="right">
            <a class="main-menu" onclick="returnToMain()">Main Menu</a>
            <div class="logoutButton" onclick="logout()">Log Out</div>
        </div>
    </header>
    <main>
        <h1>{{ student.user.username }}</h1>
        <div class = "block">
            <h2>Stats</h2>
            <div id="stats-container">
{#                <button onclick="testCompletePage()">Testing button</button><button></button>#}
                <h4>Number of games completed: </h4><h4>{{ student.games_completed }}</h4>
                <h4>Total play time: </h4><h4 id="timeSpent">{{ student.time_spent }} seconds</h4>
                <h4>Number of correct answers: </h4><h4>{{ student.questions_correct }}</h4>
                <h4>Highest streak: </h4><h4>{{ student.streak }} correct in a row</h4>
                <h4>Fastest game: </h4><h4 id="fastestGame">{{ student.min_time }} seconds</h4>
            </div>
        </div>
        <div class = "block">
            <h2>Medals</h2>
            <ul>
                <li> 
                    {% if student.percent_medal_earned %}
                        <img src="{% static 'ZenSpelling/images/correctMedal.png' %}" alt = "Medal for Percent" id="first" width = 150px height = 150px>
                        {% if student.percent_medal >= 2 %}
                            <img src="{% static 'ZenSpelling/images/correctMedal.png' %}" alt = "Medal for Percent" id="second" width = 150px height = 150px>
                        {% endif %}
                        {% if student.percent_medal >= 3 %}
                            <img src="{% static 'ZenSpelling/images/correctMedal.png' %}" alt = "Medal for Percent" id="third" width = 150px height = 150px>
                        {% endif %}
                        <p>{{ student.percent_medal }}</p>
                    {% else %}
                        <img src="{% static 'ZenSpelling/images/correctMedalGrey.png' %}" alt = "Missing medal" id="first" width = 150px height = 150px>
                        <p>{{ student.percent_medal }}</p>
                    {% endif %}
                </li>
                <li>
                    {% if student.time_medal_earned %}
                        <img src="{% static 'ZenSpelling/images/timeMedal.png' %}" alt = "Medal for Time" id="first" width = 150px height = 150px>
                        {% if student.time_medal >= 2 %}
                            <img src="{% static 'ZenSpelling/images/timeMedal.png' %}" alt = "Medal for Time" id="second" width = 150px height = 150px>
                        {% endif %}
                        {% if student.time_medal >= 3 %}
                            <img src="{% static 'ZenSpelling/images/timeMedal.png' %}" alt = "Medal for Time" id="third" width = 150px height = 150px>
                        {% endif %}
                        <p>{{ student.time_medal }}</p>
                    {% else %}
                        <img src="{% static 'ZenSpelling/images/timeMedalGrey.png' %}" alt = "Missing medal" id="first" width = 150px height = 150px>
                        <p>{{ student.time_medal }}</p>
                    {% endif %}
                </li>
                <li>
                    {% if student.streak_medal_earned %}
                        <img src="{% static 'ZenSpelling/images/streakMedal.png' %}" alt = "Medal for Streak" id="first" width = 150px height = 150px>
                        {% if student.streak_medal >= 2 %}
                            <img src="{% static 'ZenSpelling/images/streakMedal.png' %}" alt = "Medal for Streak" id="second" width = 150px height = 150px>
                        {% endif %}
                        {% if student.streak_medal >= 3 %}
                            <img src="{% static 'ZenSpelling/images/streakMedal.png' %}" alt = "Medal for Streak" id="third" width = 150px height = 150px>
                        {% endif %}
                        <p>{{ student.streak_medal }}</p>
                    {% else %}
                        <img src="{% static 'ZenSpelling/images/streakMedalGrey.png' %}" alt = "Missing medal" id="first" width = 150px height = 150px>
                        <p>{{ student.streak_medal }}</p>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class = "block">
            <h2>Saved Gardens</h2>
{#            <ul>#}
{#                {% for garden in gardens %}#}
{#                    <li><img alt="{{ student.user.username }}'s Garden" src="{{ garden.garden.url }}"></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </div>
    </main>
    <div id="twinkling-container">
        <div class = "twinkling-pixel"> </div>
    </div>
    <audio id = "background-music" loop>
{#        TODO : Browser Support? Works on Chrome.#}
        <source src="{% static 'Resources/Music/calm.mp3' %}" type="audio/mp3">
    </audio>
    <audio id="click-sound" src={% static 'Resources/SoundEffects/clickSound.mp3' %}></audio>
    <audio id="happy-sound" src={% static 'Resources/SoundEffects/correct.mp3' %}></audio>
  </body>
</html>