{% load static %}
<link rel="stylesheet" href="{% static 'ZenSpelling/modalStyle.css' %}">
<script src={% static 'ZenSpelling/js/question.js' %}></script>
<script src={% static 'Resources/jquery3.7.1.js' %}></script>

<div id="questionForm" class="modal-main">
    <div class="modal-container">
        <h1 class="question" id="questionText"></h1>
        <div id="answersContainer"></div>
    </div>
    <div class="submit-container">
        <button class="choice" id="submitBtn">Let's Spell!</button>
    </div>
</div>