{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
    <link rel="stylesheet" href={% static 'ZenSpelling/start-page.css' %}>
    <link rel="stylesheet" href="{% static 'ZenSpelling/twinkle.css' %}">
    <script src={% static 'ZenSpelling/js/StartPage.js' %}></script>
    <script src={% static 'ZenSpelling/js/twinkle.js' %} defer></script>
</head>
<body class="StartPageBackground">
    <button id="mute_play"> Turn Music ON </button>
    <button class="logoutButton" onclick="logout()">Log Out</button>
    <div class="center">
        <h1> Ready to Spell? </h1>
        <button class="startButton" onclick="startGame()"> <span class = "start"> Start </span></button>
        <button class="startButton" onclick="profile()"> <span class = "start"> Profile </span></button>
    </div>
    <div id="twinkling-container">
        <div class = "twinkling-pixel"> </div>
    </div>
    <audio id = "background-music" loop>
        <source src="{% static 'Resources/Music/calm.mp3' %}" type="audio/mp3">
        No browser support
    </audio>
<script>
    document.getElementById("mute_play").onclick = function() {
      let audio = document.getElementById("background-music");

      if(audio.paused) {
          audio.play();
          this.textContent = "Turn Music OFF";
      }
      else {
          audio.pause();
          this.textContent = "Turn Music ON";
      }
  }

  function togglePlay() {
    let audio = document.getElementById('audio-player');
    if (audio.paused) {
        audio.play();
        localStorage.setItem('isPlaying', 'true');
    } else {
        audio.pause();
        localStorage.setItem('isPlaying', 'false');
    }
}

// Check for playback state when the page loads
window.onload = function() {
    let audio = document.getElementById('audio-player');
    let isPlaying = localStorage.getItem('isPlaying');
    if (isPlaying === 'true') {
        audio.play();
    }
}
</script>
</body>
</html>