{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Start</title>
        <script src={% static 'ZenSpelling/js/musicAndSoundUtil.js' %}></script>
        <script src={% static 'ZenSpelling/js/navUtil.js' %}></script>
        <script src={% static 'ZenSpelling/js/startPage.js' %}></script>
        <script src={% static 'ZenSpelling/js/twinkle.js' %} defer></script>
        
        <link rel="stylesheet" href="{% static 'ZenSpelling/page-standard-style.css' %}">
        <link rel="stylesheet" href="{% static 'ZenSpelling/nav-style.css' %}">
        <link rel="stylesheet" href={% static 'ZenSpelling/start-page.css' %}>
        <link rel="stylesheet" href="{% static 'ZenSpelling/twinkle.css' %}">
    </head>
    <body class="StartPageBackground">
        <header>
            <div class="nav-container" id="left">
                <div id="mute_play" onclick="toggleMusic()"> Turn Music ON </div>
                <a class="back" onclick="goBack()">Go Back</a>
            </div>
            <div class="nav-container" id="right">
                <div class="logoutButton" onclick="logout()">Log Out</div>
            </div>
        </header>
        <main>
            <h1> Ready to Spell? </h1>
            <a class="startButton" id="start" onclick="startGame(this)"> <p style="user-select: none; /* Standard syntax */">Start</p> </a>
            <a class="startButton" id="profile" onclick="profile(this)"> Profile </a>
        </main>
        <div id="twinkling-container">
            <div class = "twinkling-pixel"> </div>
        </div>
        <audio id = "background-music" loop>
{#            TODO : Browser Support? Works on Chrome.#}
            <source src="{% static 'Resources/Music/calm.mp3' %}" type="audio/mp3">
        </audio>
        <audio id="click-sound" src={% static 'Resources/SoundEffects/clickSound.mp3' %}></audio>
        <audio id="start-select" src={% static 'Resources/SoundEffects/correct.mp3' %}></audio>
    </body>
</html>