{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
    <link rel="stylesheet" href={% static 'ZenSpelling/LoginStartPage.css' %}>
    <script src={% static 'js/StartPage.js' %}></script>
</head>
<body class="StartPageBackground">
    <div class="center">
        <link rel="stylesheet" href="{% static 'ZenSpelling/LoginStartPage.css' %}">
        <h1>Zen Spelling</h1>
        <button class="startButton" onclick="startGame()">Start</button>
        <br>
        <button class="logoutButton" onclick="logout()">Log Out</button>
    </div>
</body>
</html>