{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
    <link rel="stylesheet" href={% static 'ZenSpelling/LoginStartPage.css' %}>
    <script src={% static 'ZenSpelling/js/StartPage.js' %}></script>
</head>
<body class="StartPageBackground">
    <button class="logoutButton" onclick="logout()">Log Out</button>
    <div class="center">
        <h1> Welcome to Zen Spelling </h1>
        <button class="startButton" onclick="startGame()"> <span class = "start"> Start </span></button>
    </div>
</body>
</html>